spring.application.name=${PROJECT_NAME}

spring.servlet.multipart.max-file-size=15MB
spring.servlet.multipart.max-request-size=15MB

spring.messages.basename=static/i18n/messages, static/i18n/application

debug=false

logging.level.root=info
logging.level.org.hibernate=info
logging.level.org.hibernate.SQL=info
logging.level.org.hibernate.type.descriptor.sql=info
logging.level.org.springframework.web=info
logging.level.org.springframework=info
#logging.level.org.apache.commons=trace
#logging.level.org.apache.tiles=trace
#logging.level.org.apache.catalina.core=trace
#logging.level.org.springframework.web.servlet.view=trace
#logging.level.org.springframework.jdbc.datasource.init.ScriptUtils=INFO
#logging.level.org.springframework.jdbc.datasource=INFO
#logging.level.org.springframework.data=TRACE
#logging.level.org.springframework.security=trace

logging.level.eu.opensource=trace

#spring.mvc.hiddenmethod.filter.enabled=true

#spring.messages.basename=static/i18n/messages,static/i18n/application

# spring.datasource.platform=h2
# spring.datasource.platform=mysql

# file uploading
#spring.servlet.multipart.enabled=true
#spring.servlet.multipart.file-size-threshold=0
#spring.servlet.multipart.location=
#spring.servlet.multipart.max-file-size=10MB
#spring.servlet.multipart.max-request-size=10MB
#spring.servlet.multipart.resolve-lazily=false

# Profiles
spring.profiles.active=development

# security
#spring.security.user.name=admin
#spring.security.user.password=admin

# server port
server.port=8080

# Restart
# spring.devtools.restart.enabled=true
# spring.devtools.livereload.enabled=true
# spring.devtools.restart.additional-paths=static/*,template/**
