#parse("include/java_header.vm")
##---------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
 * Spring Boot entry point <br>
 * 
 * @author Telosys
 *
 */
@SpringBootApplication
public class ${PROJECT_NAME}Application {

    /**
     * Main entry point for Spring Boot starting
     * 
     * @param args
     */
    public static void main(String[] args) {
    	
        SpringApplication.run(${PROJECT_NAME}.class, args);
    }

}
