package ${target.javaPackageFromFolder(${SRC})};

import jakarta.persistence.*;
import lombok.Getter;
import lombok.Setter;

import java.io.Serial;
import java.io.Serializable;

/**
 * JPA entity ${entity.name}
 *
 * @author ${AUTHOR}
 *
 */
@Setter
@Getter
@Table(name = "${entity.name}")
@Entity
public class ${entity.name} implements Serializable {

    @Serial
    private static final long serialVersionUID = 1L;

    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

#foreach( $attribute in $entity.nonKeyAttributes )
    private $attribute.formattedType(10) $attribute.name #if($attribute.hasInitialValue())= ${attribute.ini} #end;

#end
#foreach( $link in $entity.links )
    private ${link.formattedFieldType(10)} $link.fieldName ;

#end
}