package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.stereotype.Repository;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import ${ROOT_PKG}.model.${entity.name};

/**
 * Spring Data JPA repository for entity "${entity.name}" 
 * 
 * @author ${AUTHOR}
 *
 */
@Repository 
public interface ${entity.name}Repository extends JpaRepository<${entity.name}, Long> {

#foreach( $attribute in $entity.nonKeyAttributes )
    Page<${entity.name}> findBy$fn.capitalize(${attribute.name})(${attribute.type} ${attribute.name}, Pageable pageable);

#end
##	List<${entity.name}> findByXxxStartingWith(String xxx);
##	List<${entity.name}> findByXxxContaining(String xxx);
##	List<${entity.name}> findByYyy(BigDecimal yyy);
##	List<${entity.name}> findByXxxContainingAndYyy(String xxx, BigDecimal yyy);
}