package ${ROOT_PKG}.services;

import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import ${ROOT_PKG}.model.${entity.name};

/**
 * Service for entity "${entity.name}"
 * 
 * This service provides all the necessary operations required by the REST controller
 * 
 * @author ${AUTHOR}
 *
 */
public interface ${entity.name}Service {

	${entity.name} get${entity.name}ById(Long id);

    Page<${entity.name}> getAll${entity.name}(Pageable pageable);
       
    ${entity.name} save${entity.name}(${entity.name} $fn.uncapitalize($entity.name));

    void deleteById(Long id);
}
