#parse("include/init_var_entity.vm")

package ${ROOT_PKG}.services.impl;

import java.util.Optional;

import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import lombok.extern.slf4j.Slf4j;
import lombok.RequiredArgsConstructor;

import ${ROOT_PKG}.model.${entity.name};
import ${ROOT_PKG}.repository.${entity.name}Repository;
import ${ROOT_PKG}.services.${entity.name}Service;

/**
 * Service implentation for entity ${entity.name}
 * 
 * @author ${AUTHOR}
 *
 */
@Slf4j
@RequiredArgsConstructor
@Transactional(readOnly = true)
@Service("${element}Service")
public class ${entity.name}ServiceImpl implements ${entity.name}Service {

	private final ${entity.name}Repository  ${element}Repository;

	@Override
	public Optional<${entity.name}> get${entity.name}ById(Long id) {

		return  ${element}Repository.findById(id);
	}

	@Override
    public Page<${entity.name}> getAll${entity.name}(Pageable pageable){

		log.info("Fetching all ${entity.name}s");
	
        return ${fn.uncapitalize(${entity.name})}Repository.findAll(pageable);
	}

	@Override
    public ${entity.name} save${entity.name}(${entity.name} $fn.uncapitalize($entity.name)){

		log.info("Saving ${entity.name}: {}", $fn.uncapitalize($entity.name));

		return ${fn.uncapitalize(${entity.name})}Repository.save(${fn.uncapitalize($entity.name)});
	}

	@Override
    public void delete(Long id) {

		${fn.uncapitalize(${entity.name})}Repository.deleteById(id);
		
	}
}