package ${target.javaPackageFromFolder(${SRC})};

import java.util.Optional;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import ${ROOT_PKG}.model.${entity.name};

/**
 * Service for entity "${entity.name}" <br>
 * 
 * This service provides all the necessary operations required by the REST controller <br>
 * 
 * @author ${AUTHOR}
 *
 */
public interface ${entity.name}Service {

	Optional<${entity.name}> get${entity.name}ById(Long id);

    Page<${entity.name}> getAll${entity.name}s(Pageable pageable);
       
    ${entity.name} save${entity.name}(${entity.name} $fn.uncapitalize($entity.name));

    void deleteById(Long id);
}
