<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!--/*/ <th:block th:insert="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid p-0">
    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- corpo centrale -->
    <div class="row">
        <div class="row justify-content-end">
            <div class="col-4">
                <a class="btn btn-success w-25" role="button" th:href="@{/document(form=true)}">Aggiungi</a>
                <a class="btn btn-primary w-25" role="button" href="#">Export</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div th:replace="~{fragments/left_side :: left_side}">left side</div>
        </div>
        <div class="col-lg-10">
            <br/>
            <h4>Elenco Documenti</h4>

            <table width="100%" cellspacing="10px" cellpadding="10px">
                <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Categoria</th>
                    <th>Filename</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documents}">
                    <td th:text="${document.title}"></td>
                    <td th:text="${document.category}"></td>
                    <td th:text="${document.filename}"></td>
                    <td>
                        <a class="nav-link" th:href="@{'/document/' + ${document.id}}">
                            <span style="font-size: 1.0em;"><i class="fa-solid fa-eye"></i></span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" th:href="@{/document(id=${document.id},form=true)}">
                            <span style="font-size: 1.0em;"><i class="fa-solid fa-pen-to-square"></i></span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link">
                            <span style="font-size: 1em;"><i class="fa-solid fa-download"></i></span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link">
                            <span style="font-size: 1.0em;"><i class="fa-solid fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <div class="row justify-content-center">
                <nav aria-label="navigation" th:if="${documents.totalPages gt 1}">
                    <ul class="pagination" th:with="pages=${documents.totalPages}">
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/document/all(page=${0},size=${size})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/document/all(page=${page - 1},size=${size})}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link" th:text="${page + 1}">-1</a>
                        </li>
                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link"><span>di</span></a>
                        </li>
                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link" th:text="${pages}">3</a>
                        </li>
                        <li class="page-item" th:classappend="${page eq (documents.totalPages - 1)} ? 'disabled'">
                            <a class="page-link" th:href="@{/document/all(page=${page + 1}, size=${size})}" aria-label="Previous">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${page eq (documents.totalPages - 1)} ? 'disabled'">
                            <a class="page-link" th:href="@{/document/all(page=${documents.totalPages - 1}, size=${size})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--
        <div class="col-lg-2">
            <div th:replace="~{fragments/right_side :: right_side}">right side</div>
        </div>
        -->
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>
