plugins {
    id 'java'
    id 'org.springframework.boot' version ${SPRING_BOOT_VERSION}
    id 'io.spring.dependency-management' version '1.1.7'
    // id 'org.graalvm.buildtools.native' version '0.10.6'
}

group = 'eu.opensource'
version = '0.0.1-SNAPSHOT'

java {
    toolchain {
        languageVersion = JavaLanguageVersion.of(${JAVA_VERSION})
    }
}

configurations {
    compileOnly {
        extendsFrom annotationProcessor
    }
}

repositories {
    mavenCentral()
}

dependencies {
    developmentOnly 'org.springframework.boot:spring-boot-devtools'
    annotationProcessor 'org.springframework.boot:spring-boot-configuration-processor'
    annotationProcessor 'org.projectlombok:lombok'
    compileOnly 'org.projectlombok:lombok'
    implementation 'org.springframework.boot:spring-boot-starter-actuator'
    implementation 'org.springframework.boot:spring-boot-starter-validation'
    implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
    // implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spring-boot-starter-thymeleaf'
    implementation 'org.springframework.boot:spring-boot-starter-web'
    // implementation 'org.thymeleaf.extras:thymeleaf-extras-springsecurity6'
    runtimeOnly 'com.h2database:h2'
    // runtimeOnly 'com.mysql:mysql-connector-j'

    runtimeOnly("org.webjars:bootstrap:${BOOTSTRAP_VERSION}")
    runtimeOnly("org.webjars:font-awesome:${FONT_AWESOME_VERSION}")
    // runtimeOnly("org.webjars:popper.js:${POPPER_VERSION}")

    testImplementation 'org.springframework.boot:spring-boot-starter-test'
    // testImplementation 'org.springframework.security:spring-security-test'
    testRuntimeOnly 'org.junit.platform:junit-platform-launcher'
}

tasks.named('test') {
    useJUnitPlatform()
}
